
@media screen and ( min-width: 1024px )
    .catalog-btn-sticky-wrapper
        
    .catalog-block

    .catalog-menu-wrapper

@media screen and (max-width: 1024px)
    .header-menu-block
        display: grid
        grid-template-columns: 210px 1fr        
        .header-menu-wrapper
            padding: 10px 0
            li
                padding: 10px 15px
                a
                    font-size: 16px

    .header-menu-catalog-block

    .catalog-menu-btn-wrapper
        .catalog-btn-substrate
            width: 220px
            height: 45px
            top: 11px
            left: -5px
            .catalog-btn-menu
                cursor: pointer !important
                width: 210px
                height: 44px
                padding-left: 25px
    .catalog-menu-mainpage-min1024
        .catalog-btn-false
            display: none
    .sticky-block
        .cabinet-wrapper
            grid-template-columns: 190px 9fr 1fr 1fr 1fr
            .cabitet__search-block
                margin-left: 20%
                .search-block__input
                    height: 42px
                    padding-top: 5px
                .search-block__search-ico
                    top: 10px
            .catalog-btn-sticky-wrapper
                justify-self: start
                .catalog-btn-sticky
                    width: 210px
                    height: 44px
                    padding-left: 25px                    

    .catalog-block-plug
        min-width: 0
        margin-right: 0
        min-height: 0

    .catalog-list__unit
        &:first-of-type
            // padding-top: 0
            // height: 45px

    .goods-grid-position-block, .advantage-grid-position-block
        grid-template-columns: repeat(3, 1fr)
    .blog-article-wrapper
        grid-template-columns: repeat(2, 1fr)

@media screen and (max-width: 768px)
    .header-info
        display: none
    .call-logo-cabinet
        flex-wrap: wrap
        .phone-logistic-block
            flex-basis: 70%
        .logo-wrapper
            flex-basis: 25%
        .cabinet-block
            flex-basis: 100%
    .cabinet-wrapper
        grid-template-columns: 8fr 1fr 1fr 1fr

    .sticky-cabinet-wrapper
        grid-template-columns: 190px 8fr 1fr 1fr 1fr
    .sticky-catalog-menu-wrapper_show
        top: 30px 
    .mobile-logo-container
        // display: none
    .phone-ico-wrapper
        .phone-ico
            padding: 7px 10px 7px 0

    .phone-number-wrapper
        .phone-number
            white-space: nowrap

    .basket-sum-info
        .basket-sum-title
            font-size: 14px
            white-space: nowrap
        .basket-sum
            font-size: 14px

    .main-slider__unit
        .slide-text
            .slide-text-topic
                font-size: 12px
            .slide-text-header
                font-size: 18px
                margin: 5px 0 20px 0
                width: 70%
            .slide-text-description
                font-size: 12px
        .main-slider__buy-btn
            position: absolute
            top: 65%
            left: 8%
            width: 180px
            height: 42px
            p
                font-size: 10px
                letter-spacing: 0.5px
                color: #ffffff
    .goods-grid-position-block, .advantage-grid-position-block
        grid-template-columns: repeat(2, 1fr)
    .person-reviews-block
        grid-template-columns: 1fr
        .review-pics-block
            display: none
        .review-text-wrapper
            padding-top: 0
            margin-left: 0
            .review__from-man
                text-align: center
            .review__header
                display: none
            .review-text-wrapper__sent-btn
                margin: auto

    .person-review.slick-slide
        display: flex
        flex-direction: column
        padding: 0 10px
        .person-review__img-wrapper
            position: relative
            display: block
            width: 100%
            border-radius: 10px
            img
                object-fit: cover
                width: 100%
            .img-surround__first-item
                position: absolute
                bottom: -8vw
                right: 6vw
                width: 10vw
                height: 10vw
                background: $color_green
                border-radius: 50%
            .img-surround__second-item
                position: absolute
                z-index: -1
                bottom: -17vw
                right: 0
                width: 4vw
                height: 4vw
                background: $color_green
                border-radius: 50%
        .person-review__content
            margin: 0
            order: 1
            text-align: justify
        .person-review__name
            text-align: center
            margin: 30px 0 10px 0
    .published-date
        margin-right: 10px
        .published-date__month
            font-size: 10px
            width: 70px
        .published-date__day
            font-size: 28px
            width: 70px
    .blog-item-text__footer
        display: grid
        grid-template-columns: 80px 2fr 2fr
        margin-top: 10px
        .blog-category-link
            grid-column-start: 1
            grid-column-end: 2
        .blog-item-details-wrapper
            grid-column-start: 2
            grid-column-end: 3
            justify-self: start

    .about-company-block
        .about-company-text-block
            p
                width: 100%
        .about-company-btn
            margin: auto
    .footer-social-media-block
        flex-wrap: wrap
        justify-content: center
        .telegram-block
            order: 2
            flex-basis: 70%
            .telegram-block__title
                display: none
        .social-nets
            margin-bottom: 20px
            .social-nets__title
                margin-right: 60px

@media screen and (max-width: 480px)
    .call-logo-cabinet
        flex-direction: column
        align-items: stretch
        padding-top: 5px
        border-bottom: none
    .mobile-logo-header
        display: flex
        justify-content: space-between
        align-items: center
        order: -1
        border-bottom: 1px solid #eee
        padding-bottom: 5px
        margin-bottom: 15px
        .mobile-menu-block
            display: block
            
        .mobile-logo-container
            display: block
            width: 82px
            img
                width: 100%
        .mobile-basket-block
            display: block
            .cabinet__basket-ico:hover
                cursor: default
                fill: $color_olive
                       
 
    .cabinet-block
        order: -1
        .cabinet-wrapper
            grid-template-columns: 1fr
            .search-block__form
                width: 100%
                margin-bottom: 12px
                .search-block__input
                    width: 100%
            .cabinet__favorite-block
                display: none
            .cabinet__avatar-block
                display: none
            .cabinet__basket-block
                display: none
        .basket-sum-info
            display: none
    .header-menu-block
        display: none
    .sticky-block
        display: none

    .main-slider__block
        .slider-btn-left, .slider-btn-right
            width: 30px
    .main-slider__unit
        .slide-text
            .slide-text-topic
                font-size: 13px
                letter-spacing: 0.51px
                text-transform: none
            .slide-text-header
                font-size: 22px
                letter-spacing: 0.5px
                margin: 5px 0 28px 0
                width: 70%
            .slide-text-description
                display: none
        .main-slider__buy-btn
            position: absolute
            top: 65%
            left: 8%
            width: 143px
            height: 35px
            p
                font-size: 10px
                letter-spacing: 0.5px
                color: #ffffff
    .popular-goods-label
        background: #fff
        color: $color_green
        font-size: 12px
        padding: 12px 20px
        border-radius: none
        font-weight: 500

    .goods-grid-position-block
        grid-template-columns: 1fr
        .goods__item
            margin: 7px 15px

    .show-all-goods-btn
        margin-top: 50px
    .advantage-grid-position-block
        grid-template-columns: 1fr
        .advantage-item
            display: flex
            justify-content: center
            margin: 5px 15px

    .advantage-slider-mobile, .goods-slider-mobile
        .slick-current
            box-shadow: 0 0 10px rgba(33, 33, 33, 0.2)
        .slick-dots
            bottom: -35px
            li
                margin: 0
                button::before
                    color: #ddd
                    opacity: 1
                    font-size: 10px
                    &:hover
                        color: $color_green
                        opacity: 0.6
            li.slick-active
                button:before
                    color: $color_green

        .advantage-item
            flex-direction: column

    .person-reviews-block
        grid-template-columns: 1fr
        .review-pics-block
            display: none
    .published-date
        margin-right: 20px
        .published-date__month
            font-size: 12px
            width: 80px
        .published-date__day
            font-size: 32px
            width: 80px
    .blog-article-wrapper
        grid-template-columns: 1fr
    .blog-item-text__footer
        grid-template-columns: 100px 2fr 2fr
    .footer-contacts-nav-block
        grid-template-columns: 1fr
        justify-items: center
        .footer-contacts-wrapper
            .footer-logo
                display: flex
                justify-content: center
        .footer-nav-block
            display: none
    .footer-delivery-block
        width: 60%
        margin: 0 auto
        text-align: center

    .footer-social-media-block
        .telegram-block
            flex-basis: 100%
            .telegram-block__title
                display: none
        .social-nets

    .copyright-block
        flex-direction: column-reverse
        align-items: center
        .copyright__owner
            margin: 10px 0
//корзина
@media screen and(max-width: 768px)
    .product-basket-units-wrapper
        flex-wrap: wrap
        justify-content: flex-start
        padding: 15px 0
        .product-title-wrapper
            flex-basis: 100%                       
            .product-title
                font-size: 14px
                margin-bottom: 15px
            .product-additional-info
                display: none  
        .product-quantity-wrapper
            flex-basis: 55%
        .product-price-wrapper
            flex-basis: 33%
            padding-right: 0
            .current-price
                font-size: 14px
    .basket-submit-link-wrapper
        flex-basis: 40%        
        .basket-submit-link
            padding: 12px 0
            font-size: 12px
    p.basket-overall-price-wrapper
        font-size: 18px
//мобільна корзина
@media screen and(max-width: 480px)
    .basket-product-item
        grid-template-columns: 110px 1fr 30px
        border: none
        border-top: 1px solid $color_lPink
        border-radius: 0px
        padding: 20px  0
        &:last-of-type
            border-bottom: 1px solid $color_lPink
    .mobile-basket-products-container
        padding: 20px 0
    .basket-product-item
        margin: 0
    .product-pic-wrapper
        width: 80px
        height: 80px
    .product-basket-units-wrapper 
        padding: 0
        .product-quantity-wrapper
            flex-basis: 100%
            margin-bottom: 15px
    .product-close-btn-wrapper
        border-radius: 5px
    .basket-control-btns-wrapper
        justify-content: flex-end
        .basket-remove-all-btn.mobile
            margin-bottom: 30px
            text-decoration: underline
            opacity: 1
            color: $color_green
            font-weight: normal
            font-size: 14px
            line-height: 17px
            letter-spacing: 0.636364px
    .basket-summary-info-wrapper.mobile-basket-weight
        margin-bottom: 10px
        p
            font-size: 16px
            line-height: 19px
            letter-spacing: 0.444445px
        .mobile-basket-weight__title
            opacity: 0.5    
    .basket-submit-link.mobile
        border-radius: 30px
        margin: 30px 0 50px 0
//Сторінка "Про нас"
@media screen and(max-width: 1024px)
    .page-about-us
        display: flex
        flex-wrap: wrap
        .page-about__pic
            flex-basis: 80%
            margin: 0 auto
        .page-about__text
            flex-basis: 100%
            margin-left: 0
            .who-we-are
                display: none
            .page-article-header
                text-align: center
                padding: 20px 0 10px
    .statistic-wrapper
        .statistic-number
            font-size: 50px
        .statistic-field
            font-size: 20px
    .page-about__info-galery
        grid-template-columns: 1fr 1fr
        grid-auto-rows: minmax(250px, 30vw)
        .info-galery__pic.position_1024
            // grid-row: 2/3
            grid-area: 2/1/3/2
@media screen and ( max-width: 768px )
    .page-about__statistics
        grid-template-columns: 1fr
        .statistic-wrapper
            .statistic-number
                font-size: 58px
                color: $color_green
                opacity: 1
            &:nth-of-type(odd)
                background-color: $color_beige
        .statistic-field
            font-size: 24px
@media screen and(max-width: 480px)
    .page-about-company
        flex-wrap: wrap

    .page-about__info-galery
        grid-template-columns: 1fr
        .info-galery__pic.position_1024
            grid-row: unset
//Сторінка "блог/новини"
@media screen and(max-width: 768px)
    .blog-news-article-wrapper
        display: block
    .blog-article-text
        &__header
            margin: 15px 0
        &__content
            margin-bottom: 30px
        &__pubished-date-block
    .blog-article__pic
        img
            max-height: 300px

//вреппер контролю заповнення контента
@media screen and(max-width: 768px)
    .page-thin-content-block
        padding: 0 5vw
@media screen and(max-width: 480px)
    .page-thin-content-block
        padding: 0
//Сторінки "Контакти" та "Відгуки"
@media screen and(max-width: 768px)
    .contacts-block
        padding: 0
    .personal-data-wrapper
        grid-template-columns: 1fr
    .agree-submit-wrapper
        flex-direction: column
    .personal-data-submit-wrapper
        margin: 30px auto 0
//Сторінки "Оплата і доставка"
@media screen and(max-width: 768px)
    .way-to-pay-block
        // display: block
        &__text
            margin-bottom: 15px

        &__ico
            // justify-content: flex-start
            flex-direction: column

    .way-to-pay-ico-wrapper
        // flex-basis: 35%
        &:last-child
            // flex-basis: 25%
            margin-top: 1vw
            margin-left: 0

    .delivery-instruction-wrapper
        grid-template-columns: 1fr
        padding: 0 20vw
        .delivery-instruction-unit
            display: flex
            flex-direction: row
            align-items: center
            padding: 15px 15px 15px 0
            margin-top: 15px
            min-height: 100px
            &__ico
                margin-top: 0
                margin-left: -35px
            &__text
                padding-left: 15px

@media screen and(max-width: 480px)
    .way-to-pay-block
        display: block
        &__ico
            flex-direction: row

    .way-to-pay-ico-wrapper
        flex-basis: 55%
        &:last-child
            flex-basis: 45%
            margin-top: 0
            margin-left: 2vw
    .delivery-instruction-wrapper
        padding: 0 0 0 35px

//Сторінки "наші магазини"
@media screen and(max-width: 1024px)
    .shops-location-block
        grid-template-columns: repeat(3, 1fr)
    .shop-contacts-info-wrapper
        padding: 2.4vw
@media screen and(max-width: 768px)
    .shops-location-block
        grid-template-columns: repeat(2, 1fr)
    .shop-contacts-info-wrapper
        padding: 3vw

@media screen and(max-width: 480px)
    .shops-location-block
        grid-template-columns: repeat(1, 1fr)
    .mobile-map-tab-block
        display: block
    .shop-location-unit
        border: none
        border-top: 1px solid $color_lPink
        border-radius: 0
        &:last-child
            border-bottom: 1px solid $color_lPink
    .shop-contacts-info-wrapper
        padding: 15px
    .shop__contacts-time-block
        display: flex
        justify-content: space-between
        .shop__contact-unit-wrapper
            margin: 0
    .shop-location-map-wrapper
        display: none

//сторінка з фільтрами
@media screen and(max-width: 1024px)
    .filtered-products-wrapper
        grid-template-columns: repeat(2, 1fr)
@media screen and(min-width: 480px)
    .mobile-filtered-products-count__number
        display: none
@media screen and(max-width: 480px)
    .filters-products-wrapper
        display: block
    .category-filter-wrapper
        display: none    

    .mobile-quick-sort-filter-wrapper
        display: flex
        align-items: center
        padding: 5px 10px 5px 0
        border-top: 1px solid $color_lPink
        border-bottom: 1px solid $color_lPink
        margin-bottom: 10px
        .mobile-quick-sort-block
            display: block
            flex-basis: 65%
            &.nice-select
                border: none
                border-radius: 0
                border-right: 1px solid $color_lPink
                line-height: 25px
                height: 27px
                &::after
                ul
                    margin-top: 6px
        .applied-filters-title-wrapper
            display: flex
            justify-content: space-between
            align-items: center
            flex-basis: 35%
            .applied-filters-title
                margin-bottom: 0
                margin-left: 15px
                &::before
                    display: none
            &::after
                content: ""
                display: inline-block
                background-image: url('../img/filter.png')
                background-repeat: no-repeat
                height: 12px
                width: 11px
                margin-right: 10px
            .filtered-products-count__number
                opacity: 0.5
                font-size: 16px
                letter-spacing: 0.73px
                color: $color_olive
    
    .applied-filters-header
        display: none
    .applied-filter-unit-wrapper
        display: flex
        flex-wrap: wrap
        .applied-filter-unit
            margin-right: 10px

    .filtered-products-top-block
        display: none
    .filtered-products-wrapper
        grid-template-columns: 1fr
// сторінка товару
@media screen and (max-width: 768px)
    .product-unit-wrapper
        display: block
        .product-unit-pic-block
            margin-right: 0
    .product-pic-container
        // width: 50%
        margin: 0 auto
        .product__preview-img-wrapper
            width: 250px
        .product__gallery-imgs
            
@media screen and (max-width: 480px)
    .mobile-logo-header-sticky
        position: fixed
        top: 0
        left: 0
        background-color: #ffffff
        z-index: 2
        width: 100%
        padding: 5px 12px
        box-shadow: 0 0 15px rgba(33,33,33,0.2)
    .page-section-header 
        font-size: 18px
        letter-spacing: 0.94px
    .product-pic-container
        width: 90%
    .mobile-product-title-wrapper
        display: block 
        .product-main-title
            padding-top: 15px 
    .product__preview-img-wrapper
        display: none
    .product__gallery-imgs
        border-bottom: 1px solid #bfbfbf
        margin: 0
    .product__gallery-img-wrapper
        padding: 70px
        border: none
    .product__gallery-img-wrapper 
        &.slick-slide 
    .product__additional-options
        justify-content: space-around
        padding: 15px 0
    .product-unit-info-block
        .product-main-title, .product-code, .product-price-delivery-wrapper
            display: none
        .product-buy-wrapper
            display: grid
            grid-template-columns: 1fr 1fr
            grid-row-gap: 20px
            grid-column-gap: 2vw
            padding: 20px 0 0 0
            border: none
            .product-mobile-price-wrapper
                display: grid
                grid-template-columns: 3fr 1fr
                margin-bottom: 0
                justify-self: end
                .old-price
                    grid-column: 1/3
                    place-self: end start
                    font-size: 16px
                .current-price
                    font-size: 28px
                    margin-left: 0
            .goods-quantity
                width: 155px
                height: 45px
                border-radius: 30px
                .goods-quantity__remove-btn, .goods-quantity__add-btn
                    padding: 16px 14px
                .goods-quantity__selected-qty
                    margin: auto
            .product-one-click-buy
                margin: 0
            .goods-basket-block
                .goods-basket-wrapper
                    margin: 0
        .mobile-product-consistance-title
            display: block
            padding: 30px 0 0 0
            text-align: start
            font-weight: 400
        .product-consistance-wrapper 
            border: none
            align-items: flex-start
        
    .mobile-slider-stock-products
        overflow: hidden
        .slick-current
            border-radius: 5px
            box-shadow: 0 0 5px rgba(33,33,33,0.2)
    .mobile-slider-similar-products
        .slick-current
            box-shadow: 0 0 10px rgba(33,33,33,0.2)
    .product-unit-stock-products 
        .stock-product-unit
            margin: 4px 15px
    .product-unit-similar-products 
        // height: auto
        .goods__item 
            margin: 7px 15px
            .goods-img-block
                height: 220px
    .mobile-basket-sticky
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        background-color: #fff
        z-index: 1
        padding: 5px 15px
        box-shadow: 0 0 15px rgba(33,33,33,0.2)
        .price-block
            margin: 0
        .goods-basket-wrapper
            padding: 12px 26px
            p
                font-size: 14px
                font-weight: bold
                letter-spacing: 0.64px
            .goods-basket__ico
                width: 25px
                img 
                    width: 100%
    .mobile-basket-sticky_active        
        position: fixed
        bottom: 0
        left: 0
       
//ОСОБИСТИЙ КАБІНЕТ
//замовлення
@media screen and(max-width: 1024px)
    .user-cabinet-orders-block
        padding: 0 2vw
    .user-cabinet-nav-block
        .user-cabinet-heading
            margin-bottom: 2vw
@media screen and(max-width: 768px)
    .user-order-unit
    
    .user-cabinet-nav-block
        padding: 20px 0.8vw
        .person-cabinet__option
            // padding: 10px 0
    .user-cabinet-main-block
        padding: 0 3vw
    .user-cabinet-heading
        padding-left: 10px
    .order-status
        margin-top: 10px
    
@media screen and(max-width: 480px)    
    .user-cabinet-nav-orders-wrapper
        display: block
        margin: 0
    .user-cabinet-nav-block
        border: none
        padding: 0
        .user-cabinet-heading
            font-size: 18px
            opacity: 0.7
            margin-bottom: 0
            padding: 30px 0 10px 5px
    .user-cabinet-main-block
        border: none
        border-top: 1px solid $color_lPink
        border-radius: 0px
        padding: 0
        .page-section-header
            padding: 15px
    .user-address-wrapper
        .user-address-unit
            flex-grow: 1
            max-width: 100%
    .resume-purchase-btn
        margin: 30px auto

    .user__login-password-container, .user__tel-numbers-container 
        padding-right: 60px
    .user-settings-form
        padding-right: 0
        flex-basis: 100%
